/* You can add global styles to this file, and also import other style files */

html, body, p {
    color:#484848
}

.btn-bwm {
    background-color: #F44336;
    border-color: #F44336;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
  
    &:hover, &:focus, &:active {
      border-color: #F44336 !important;
      background-color: #F44336 !important;
    }
  }
  